extends layout

block content
    div.card-container
    a.card(href="/turn?choice=rock")
        img(src="/images/rock-paper-scissors-icon-3.jpg")
    a.card(href="/turn?choice=paper")
        img(src="/images/rock-paper-scissors-icon-2.jpg")
    a.card(href="/turn?choice=scissors")
        img(src="/images/rock-paper-scissors-icon-4.jpg")

